* {
  margin: 0;

  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  /* background: rgb(231, 227, 227); */
  color: rgb(33, 11, 92);
  min-height: 100vh;
  width: 100%;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(90deg, #444cf7 2px, transparent 2px), linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-direction: column; */
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#newTask {
  font-style: italic;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid rgb(216, 205, 205);
  background: white;
  box-sizing: border-box;
  margin-right: 15px;
  cursor: pointer;
  width: 90%;
  margin-left: 2px;
  color: rgb(33, 11, 92);
}

button {
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid rgb(216, 205, 205);
  background: white;
  box-sizing: border-box;
  color: red;

  /* width: 100%; */
}

.element {
  width: 100%;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  display: inline-flex;
  gap: 1px;
  min-width: 70%;
  padding: 8px 546px 2px 0;
}

.removeBtn {
  background: lightgray;
  color: red;
  width: 100%;

  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
}

#clear {
  border-radius: 12px;
  border: 2px solid rgb(33, 11, 92);
  margin-bottom: 1rem;
}

.items-container {
  margin: 0;
  width: 100%;
}

#container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid rgb(190, 185, 185);
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  background: white;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  overflow-y: scroll;
}

.checked {
  text-decoration: line-through;
}

.checkbox {
  width: 30px;
  margin-right: 1rem;
}

.remove {
  border: none;
}

#addBtn {
  width: 20px;
  border: none;
  color: rgb(33, 11, 92);;
}

#todoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.list-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 1.5rem auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.editable-input {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(33, 11, 92);
}
