* {
  margin: 0;

  /* padding: 0; */
  box-sizing: border-box;
}

body {
  background: rgb(231, 227, 227);
  color: rgb(44, 41, 41);
  min-height: 100vh;
  width: 100%;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-direction: column; */
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#newTask {
  font-style: italic;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid rgb(216, 205, 205);
  background: white;
  box-sizing: border-box;
  margin-right: 15px;
  cursor: pointer;
  width: 90%;
  margin-left: 2px;
}

button {
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid rgb(216, 205, 205);
  background: white;
  box-sizing: border-box;

  /* width: 100%; */
}

.element {
  width: 100%;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  display: inline-flex;
  gap: 1px;
  min-width: 70%;
  padding: 8px 546px 2px 0;
}

.removeBtn {
  background: lightgray;
  color: grey;
  width: 100%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
}

.items-container {
  margin: 0;
  width: 100%;
}

#container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid rgb(190, 185, 185);
  box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
  background: white;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  overflow-y: scroll;
}

.checked {
  text-decoration: line-through;
}

.checkbox {
  width: 30px;
  margin-right: 1rem;
}

.remove {
  border: none;
}

#addBtn {
  width: 20px;
  border: none;
  color: #000;
}

#todoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.list-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin: 1.5rem auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.editable-input {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
